<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-assiete-info-heading" data-cy="AssieteInfoCreateUpdateHeading">Create or edit a Assiete Info</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_priorite">Priorite</label>
          <input type="number" class="form-control" name="priorite" id="field_priorite" data-cy="priorite" formControlName="priorite" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_val">Val</label>
          <input type="number" class="form-control" name="val" id="field_val" data-cy="val" formControlName="val" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_util">Util</label>
          <input type="text" class="form-control" name="util" id="field_util" data-cy="util" formControlName="util" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dateSituation">Date Situation</label>
          <div class="input-group">
            <input
              id="field_dateSituation"
              data-cy="dateSituation"
              type="text"
              class="form-control"
              name="dateSituation"
              ngbDatepicker
              #dateSituationDp="ngbDatepicker"
              formControlName="dateSituation"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateSituationDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dateop">Dateop</label>
          <div class="d-flex">
            <input
              id="field_dateop"
              data-cy="dateop"
              type="datetime-local"
              class="form-control"
              name="dateop"
              formControlName="dateop"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_modifiedBy">Modified By</label>
          <input
            type="text"
            class="form-control"
            name="modifiedBy"
            id="field_modifiedBy"
            data-cy="modifiedBy"
            formControlName="modifiedBy"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_op">Op</label>
          <input type="text" class="form-control" name="op" id="field_op" data-cy="op" formControlName="op" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_isDeleted">Is Deleted</label>
          <input type="checkbox" class="form-check" name="isDeleted" id="field_isDeleted" data-cy="isDeleted" formControlName="isDeleted" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_modifiedDate">Modified Date</label>
          <div class="d-flex">
            <input
              id="field_modifiedDate"
              data-cy="modifiedDate"
              type="datetime-local"
              class="form-control"
              name="modifiedDate"
              formControlName="modifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_rebrique">Rebrique</label>
          <select class="form-control" id="field_rebrique" data-cy="rebrique" name="rebrique" formControlName="rebrique">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="rebriqueOption.id === editForm.get('rebrique')!.value?.id ? editForm.get('rebrique')!.value : rebriqueOption"
              *ngFor="let rebriqueOption of rebriquesSharedCollection; trackBy: trackRebriqueById"
            >
              {{ rebriqueOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_assiete">Assiete</label>
          <select class="form-control" id="field_assiete" data-cy="assiete" name="assiete" formControlName="assiete">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="assieteOption.id === editForm.get('assiete')!.value?.id ? editForm.get('assiete')!.value : assieteOption"
              *ngFor="let assieteOption of assietesSharedCollection; trackBy: trackAssieteById"
            >
              {{ assieteOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_modeCal">Mode Cal</label>
          <select class="form-control" id="field_modeCal" data-cy="modeCal" name="modeCal" formControlName="modeCal">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="modeCalculOption.id === editForm.get('modeCal')!.value?.id ? editForm.get('modeCal')!.value : modeCalculOption"
              *ngFor="let modeCalculOption of modeCalculsSharedCollection; trackBy: trackModeCalculById"
            >
              {{ modeCalculOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
