<div>
  <h2 id="page-heading" data-cy="RebriqueContratHeading">
    <span>Rebrique Contrats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-rebrique-contrat"
        [routerLink]="['/rebrique-contrat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Rebrique Contrat </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="rebriqueContrats?.length === 0">
    <span>No rebriqueContrats found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="rebriqueContrats && rebriqueContrats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="util"><span>Util</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateSituation"><span>Date Situation</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateop"><span>Dateop</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="modifiedBy"><span>Modified By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdBy"><span>Created By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="op"><span>Op</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isDeleted"><span>Is Deleted</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdDate"><span>Created Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="modifiedDate"><span>Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rebrqiue.id"><span>Rebrqiue</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sousTypeContrat.id"><span>Sous Type Contrat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="typeContrat.id"><span>Type Contrat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rebriqueContrat of rebriqueContrats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/rebrique-contrat', rebriqueContrat.id, 'view']">{{ rebriqueContrat.id }}</a>
          </td>
          <td>{{ rebriqueContrat.util }}</td>
          <td>{{ rebriqueContrat.dateSituation | formatMediumDate }}</td>
          <td>{{ rebriqueContrat.dateop | formatMediumDatetime }}</td>
          <td>{{ rebriqueContrat.modifiedBy }}</td>
          <td>{{ rebriqueContrat.createdBy }}</td>
          <td>{{ rebriqueContrat.op }}</td>
          <td>{{ rebriqueContrat.isDeleted }}</td>
          <td>{{ rebriqueContrat.createdDate | formatMediumDatetime }}</td>
          <td>{{ rebriqueContrat.modifiedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="rebriqueContrat.rebrqiue">
              <a [routerLink]="['/rebrique', rebriqueContrat.rebrqiue?.id, 'view']">{{ rebriqueContrat.rebrqiue?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="rebriqueContrat.sousTypeContrat">
              <a [routerLink]="['/sous-type-contrat', rebriqueContrat.sousTypeContrat?.id, 'view']">{{
                rebriqueContrat.sousTypeContrat?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="rebriqueContrat.typeContrat">
              <a [routerLink]="['/type-contrat', rebriqueContrat.typeContrat?.id, 'view']">{{ rebriqueContrat.typeContrat?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/rebrique-contrat', rebriqueContrat.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/rebrique-contrat', rebriqueContrat.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(rebriqueContrat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="rebriqueContrats && rebriqueContrats.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
