<div>
  <h2 id="page-heading" data-cy="SoldeAbsenceContratHeading">
    <span>Solde Absence Contrats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-solde-absence-contrat"
        [routerLink]="['/solde-absence-contrat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Solde Absence Contrat </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="soldeAbsenceContrats?.length === 0">
    <span>No soldeAbsenceContrats found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="soldeAbsenceContrats && soldeAbsenceContrats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="annee"><span>Annee</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fullPayRight"><span>Full Pay Right</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="halfPayRight"><span>Half Pay Right</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="util"><span>Util</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateop"><span>Dateop</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="modifiedBy"><span>Modified By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="op"><span>Op</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isDeleted"><span>Is Deleted</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdDate"><span>Created Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="modifiedDate"><span>Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="typeContrat.id"><span>Type Contrat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let soldeAbsenceContrat of soldeAbsenceContrats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/solde-absence-contrat', soldeAbsenceContrat.id, 'view']">{{ soldeAbsenceContrat.id }}</a>
          </td>
          <td>{{ soldeAbsenceContrat.annee }}</td>
          <td>{{ soldeAbsenceContrat.fullPayRight }}</td>
          <td>{{ soldeAbsenceContrat.halfPayRight }}</td>
          <td>{{ soldeAbsenceContrat.util }}</td>
          <td>{{ soldeAbsenceContrat.dateop | formatMediumDatetime }}</td>
          <td>{{ soldeAbsenceContrat.modifiedBy }}</td>
          <td>{{ soldeAbsenceContrat.op }}</td>
          <td>{{ soldeAbsenceContrat.isDeleted }}</td>
          <td>{{ soldeAbsenceContrat.createdDate | formatMediumDatetime }}</td>
          <td>{{ soldeAbsenceContrat.modifiedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="soldeAbsenceContrat.typeContrat">
              <a [routerLink]="['/type-contrat', soldeAbsenceContrat.typeContrat?.id, 'view']">{{ soldeAbsenceContrat.typeContrat?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/solde-absence-contrat', soldeAbsenceContrat.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/solde-absence-contrat', soldeAbsenceContrat.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(soldeAbsenceContrat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="soldeAbsenceContrats && soldeAbsenceContrats.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
