<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="natureAbsence">
      <h2 data-cy="natureAbsenceDetailsHeading"><span>Nature Absence</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ natureAbsence.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ natureAbsence.code }}</span>
        </dd>
        <dt><span>Lib Ar</span></dt>
        <dd>
          <span>{{ natureAbsence.libAr }}</span>
        </dd>
        <dt><span>Lib En</span></dt>
        <dd>
          <span>{{ natureAbsence.libEn }}</span>
        </dd>
        <dt><span>Util</span></dt>
        <dd>
          <span>{{ natureAbsence.util }}</span>
        </dd>
        <dt><span>Dateop</span></dt>
        <dd>
          <span>{{ natureAbsence.dateop | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Full Pay</span></dt>
        <dd>
          <span>{{ natureAbsence.fullPay }}</span>
        </dd>
        <dt><span>Half Pay</span></dt>
        <dd>
          <span>{{ natureAbsence.halfPay }}</span>
        </dd>
        <dt><span>Modified By</span></dt>
        <dd>
          <span>{{ natureAbsence.modifiedBy }}</span>
        </dd>
        <dt><span>Op</span></dt>
        <dd>
          <span>{{ natureAbsence.op }}</span>
        </dd>
        <dt><span>Is Deleted</span></dt>
        <dd>
          <span>{{ natureAbsence.isDeleted }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ natureAbsence.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Modified Date</span></dt>
        <dd>
          <span>{{ natureAbsence.modifiedDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/nature-absence', natureAbsence.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
