<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="managementResourceProfile">
      <h2 data-cy="managementResourceProfileDetailsHeading"><span>Management Resource Profile</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ managementResourceProfile.id }}</span>
        </dd>
        <dt><span>Profile</span></dt>
        <dd>
          <span>{{ managementResourceProfile.profile }}</span>
        </dd>
        <dt><span>Dateop</span></dt>
        <dd>
          <span>{{ managementResourceProfile.dateop | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Modified By</span></dt>
        <dd>
          <span>{{ managementResourceProfile.modifiedBy }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ managementResourceProfile.createdBy }}</span>
        </dd>
        <dt><span>Op</span></dt>
        <dd>
          <span>{{ managementResourceProfile.op }}</span>
        </dd>
        <dt><span>Util</span></dt>
        <dd>
          <span>{{ managementResourceProfile.util }}</span>
        </dd>
        <dt><span>Is Deleted</span></dt>
        <dd>
          <span>{{ managementResourceProfile.isDeleted }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ managementResourceProfile.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Modified Date</span></dt>
        <dd>
          <span>{{ managementResourceProfile.modifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Ressource Manage</span></dt>
        <dd>
          <div *ngIf="managementResourceProfile.ressourceManage">
            <a [routerLink]="['/management-resource', managementResourceProfile.ressourceManage?.id, 'view']">{{
              managementResourceProfile.ressourceManage?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/management-resource-profile', managementResourceProfile.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
