<div>
  <h2 id="page-heading" data-cy="PalierImpoHeading">
    <span>Palier Impos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-palier-impo"
        [routerLink]="['/palier-impo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Palier Impo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="palierImpos?.length === 0">
    <span>No palierImpos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="palierImpos && palierImpos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="annee"><span>Annee</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="payrollMin"><span>Payroll Min</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="payrollMax"><span>Payroll Max</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="impoValue"><span>Impo Value</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="util"><span>Util</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateop"><span>Dateop</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateModif"><span>Date Modif</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="modifiedBy"><span>Modified By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="op"><span>Op</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isDeleted"><span>Is Deleted</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pays.id"><span>Pays</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="situation.id"><span>Situation</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let palierImpo of palierImpos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/palier-impo', palierImpo.id, 'view']">{{ palierImpo.id }}</a>
          </td>
          <td>{{ palierImpo.annee }}</td>
          <td>{{ palierImpo.payrollMin }}</td>
          <td>{{ palierImpo.payrollMax }}</td>
          <td>{{ palierImpo.impoValue }}</td>
          <td>{{ palierImpo.util }}</td>
          <td>{{ palierImpo.dateop | formatMediumDatetime }}</td>
          <td>{{ palierImpo.dateModif | formatMediumDatetime }}</td>
          <td>{{ palierImpo.modifiedBy }}</td>
          <td>{{ palierImpo.op }}</td>
          <td>{{ palierImpo.isDeleted }}</td>
          <td>
            <div *ngIf="palierImpo.pays">
              <a [routerLink]="['/pays', palierImpo.pays?.id, 'view']">{{ palierImpo.pays?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="palierImpo.situation">
              <a [routerLink]="['/situation', palierImpo.situation?.id, 'view']">{{ palierImpo.situation?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/palier-impo', palierImpo.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/palier-impo', palierImpo.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(palierImpo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="palierImpos && palierImpos.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
