<div>
  <h2 id="page-heading" data-cy="GroupeHeading">
    <span>Groupes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-groupe"
        [routerLink]="['/groupe/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Groupe </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="groupes?.length === 0">
    <span>No groupes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="groupes && groupes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="code"><span>Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="libAr"><span>Lib Ar</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="libEn"><span>Lib En</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="addresseAr"><span>Addresse Ar</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="addresseEn"><span>Addresse En</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tel"><span>Tel</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fax"><span>Fax</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="util"><span>Util</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateop"><span>Dateop</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="modifiedBy"><span>Modified By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="op"><span>Op</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isDeleted"><span>Is Deleted</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pays.id"><span>Pays</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="devise.id"><span>Devise</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let groupe of groupes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/groupe', groupe.id, 'view']">{{ groupe.id }}</a>
          </td>
          <td>{{ groupe.code }}</td>
          <td>{{ groupe.libAr }}</td>
          <td>{{ groupe.libEn }}</td>
          <td>{{ groupe.addresseAr }}</td>
          <td>{{ groupe.addresseEn }}</td>
          <td>{{ groupe.tel }}</td>
          <td>{{ groupe.email }}</td>
          <td>{{ groupe.fax }}</td>
          <td>{{ groupe.util }}</td>
          <td>{{ groupe.dateop | formatMediumDatetime }}</td>
          <td>{{ groupe.modifiedBy }}</td>
          <td>{{ groupe.op }}</td>
          <td>{{ groupe.isDeleted }}</td>
          <td>
            <div *ngIf="groupe.pays">
              <a [routerLink]="['/pays', groupe.pays?.id, 'view']">{{ groupe.pays?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="groupe.devise">
              <a [routerLink]="['/devise', groupe.devise?.id, 'view']">{{ groupe.devise?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/groupe', groupe.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/groupe', groupe.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(groupe)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="groupes && groupes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
