<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="formPaie">
      <h2 data-cy="formPaieDetailsHeading"><span>Form Paie</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ formPaie.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ formPaie.code }}</span>
        </dd>
        <dt><span>Lib En</span></dt>
        <dd>
          <span>{{ formPaie.libEn }}</span>
        </dd>
        <dt><span>Lib Ar</span></dt>
        <dd>
          <span>{{ formPaie.libAr }}</span>
        </dd>
        <dt><span>Anne Debut</span></dt>
        <dd>
          <span>{{ formPaie.anneDebut }}</span>
        </dd>
        <dt><span>Annee Fin</span></dt>
        <dd>
          <span>{{ formPaie.anneeFin }}</span>
        </dd>
        <dt><span>Mois Debut</span></dt>
        <dd>
          <span>{{ formPaie.moisDebut }}</span>
        </dd>
        <dt><span>Mois Fin</span></dt>
        <dd>
          <span>{{ formPaie.moisFin }}</span>
        </dd>
        <dt><span>Dateop</span></dt>
        <dd>
          <span>{{ formPaie.dateop | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Modified By</span></dt>
        <dd>
          <span>{{ formPaie.modifiedBy }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ formPaie.createdBy }}</span>
        </dd>
        <dt><span>Util</span></dt>
        <dd>
          <span>{{ formPaie.util }}</span>
        </dd>
        <dt><span>Op</span></dt>
        <dd>
          <span>{{ formPaie.op }}</span>
        </dd>
        <dt><span>Is Deleted</span></dt>
        <dd>
          <span>{{ formPaie.isDeleted }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ formPaie.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Modified Date</span></dt>
        <dd>
          <span>{{ formPaie.modifiedDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/form-paie', formPaie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
