<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="natureAbsenceRebrique">
      <h2 data-cy="natureAbsenceRebriqueDetailsHeading"><span>Nature Absence Rebrique</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ natureAbsenceRebrique.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ natureAbsenceRebrique.code }}</span>
        </dd>
        <dt><span>Lib Ar</span></dt>
        <dd>
          <span>{{ natureAbsenceRebrique.libAr }}</span>
        </dd>
        <dt><span>Lib En</span></dt>
        <dd>
          <span>{{ natureAbsenceRebrique.libEn }}</span>
        </dd>
        <dt><span>Value Taken</span></dt>
        <dd>
          <span>{{ natureAbsenceRebrique.valueTaken }}</span>
        </dd>
        <dt><span>Util</span></dt>
        <dd>
          <span>{{ natureAbsenceRebrique.util }}</span>
        </dd>
        <dt><span>Dateop</span></dt>
        <dd>
          <span>{{ natureAbsenceRebrique.dateop | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Modified By</span></dt>
        <dd>
          <span>{{ natureAbsenceRebrique.modifiedBy }}</span>
        </dd>
        <dt><span>Op</span></dt>
        <dd>
          <span>{{ natureAbsenceRebrique.op }}</span>
        </dd>
        <dt><span>Is Deleted</span></dt>
        <dd>
          <span>{{ natureAbsenceRebrique.isDeleted }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ natureAbsenceRebrique.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Modified Date</span></dt>
        <dd>
          <span>{{ natureAbsenceRebrique.modifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Nature Absence</span></dt>
        <dd>
          <div *ngIf="natureAbsenceRebrique.natureAbsence">
            <a [routerLink]="['/nature-absence', natureAbsenceRebrique.natureAbsence?.id, 'view']">{{
              natureAbsenceRebrique.natureAbsence?.id
            }}</a>
          </div>
        </dd>
        <dt><span>Rebrique</span></dt>
        <dd>
          <div *ngIf="natureAbsenceRebrique.rebrique">
            <a [routerLink]="['/rebrique', natureAbsenceRebrique.rebrique?.id, 'view']">{{ natureAbsenceRebrique.rebrique?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/nature-absence-rebrique', natureAbsenceRebrique.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
