<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="entityAdhesion">
      <h2 data-cy="entityAdhesionDetailsHeading"><span>Entity Adhesion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ entityAdhesion.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ entityAdhesion.code }}</span>
        </dd>
        <dt><span>Lib En</span></dt>
        <dd>
          <span>{{ entityAdhesion.libEn }}</span>
        </dd>
        <dt><span>Lib Ar</span></dt>
        <dd>
          <span>{{ entityAdhesion.libAr }}</span>
        </dd>
        <dt><span>Util</span></dt>
        <dd>
          <span>{{ entityAdhesion.util }}</span>
        </dd>
        <dt><span>Dateop</span></dt>
        <dd>
          <span>{{ entityAdhesion.dateop | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Modified By</span></dt>
        <dd>
          <span>{{ entityAdhesion.modifiedBy }}</span>
        </dd>
        <dt><span>Op</span></dt>
        <dd>
          <span>{{ entityAdhesion.op }}</span>
        </dd>
        <dt><span>Is Deleted</span></dt>
        <dd>
          <span>{{ entityAdhesion.isDeleted }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ entityAdhesion.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Modified Date</span></dt>
        <dd>
          <span>{{ entityAdhesion.modifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Nature Adhesion</span></dt>
        <dd>
          <div *ngIf="entityAdhesion.natureAdhesion">
            <a [routerLink]="['/nature-adhesion', entityAdhesion.natureAdhesion?.id, 'view']">{{ entityAdhesion.natureAdhesion?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/entity-adhesion', entityAdhesion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
