<div>
  <h2 id="page-heading" data-cy="ConjointHeading">
    <span>Conjoints</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-conjoint"
        [routerLink]="['/conjoint/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Conjoint </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="conjoints?.length === 0">
    <span>No conjoints found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="conjoints && conjoints.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="matricule"><span>Matricule</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomAr"><span>Nom Ar</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenomAr"><span>Prenom Ar</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomEn"><span>Nom En</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenomEn"><span>Prenom En</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateNaiss"><span>Date Naiss</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="util"><span>Util</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateop"><span>Dateop</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="modifiedBy"><span>Modified By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="op"><span>Op</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isDeleted"><span>Is Deleted</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sexe.id"><span>Sexe</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conjoint of conjoints; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/conjoint', conjoint.id, 'view']">{{ conjoint.id }}</a>
          </td>
          <td>{{ conjoint.matricule }}</td>
          <td>{{ conjoint.nomAr }}</td>
          <td>{{ conjoint.prenomAr }}</td>
          <td>{{ conjoint.nomEn }}</td>
          <td>{{ conjoint.prenomEn }}</td>
          <td>{{ conjoint.dateNaiss | formatMediumDate }}</td>
          <td>{{ conjoint.util }}</td>
          <td>{{ conjoint.dateop | formatMediumDatetime }}</td>
          <td>{{ conjoint.modifiedBy }}</td>
          <td>{{ conjoint.op }}</td>
          <td>{{ conjoint.isDeleted }}</td>
          <td>
            <div *ngIf="conjoint.sexe">
              <a [routerLink]="['/sexe', conjoint.sexe?.id, 'view']">{{ conjoint.sexe?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/conjoint', conjoint.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/conjoint', conjoint.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(conjoint)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="conjoints && conjoints.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
